---
import CarouselDesktopFullscreen from "../components/CarouselDesktopFullscreen.svelte";
import CarouselFullScreen from "../components/CarouselFullScreen.svelte";
import Navbar from "../components/Navbar.svelte";
import Layout from "../layouts/Layout.astro";


---
<Layout title="Images">
    <Navbar menuPage={true} darkMode={true} email={false} closeUrl={'/applied-theatre'} client:load/>
    <div class="hidden lg:block">
        <CarouselDesktopFullscreen numberOfSlides={9} client:load/>
    </div>
    <div class="block lg:hidden">
        <CarouselFullScreen numberOfSlides={10} client:load/>
    </div>
</Layout>
