---
// import GlobalStyles from '../components/GlobalStyles.astro';
import Layout from "../layouts/Layout.astro";
import logo from "../images/logo.svg";
import productions from "../images/home/productions.svg";
import teaching from "../images/home/teaching.svg";
import applied_theatre from "../images/home/applied_theatre.svg";
---

<Layout title="Maya's site">
	<main class="h-screen grid justify-items-center pt-9 pb-16 content-between">
		<div>
			<img src={logo} alt="logo" class="h-156 w-284" />
		</div>
		<div class="grid justify-items-center">
			<div>
				<img src={productions} alt="productions" class="h-34.58 w-154"
				/>
			</div>
			<div class="pt-2">
				<img src={teaching} alt="teaching" class="h-23.2 w-115.86" />
			</div>
			<div class="pt-4">
				<img
					src={applied_theatre}
					alt="applied_theatre"
					class="h-25.62 w-184.69"
				/>
			</div>
				<div class=" pt-5">
				<button>enter</button>
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		background-image: url("../images/home/landing.png");
		background-size: cover;
		background-position: center;
	}
</style>
