---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.svelte";
---

<Layout title="Menu">
    <div class="">
        <Navbar menuPage={true} client:load/>
        <section class="bg-black h-screen flex flex-wrap px-[16%] content-center gap-x-2 gap-y-4 justify-center">
            <img src="/src/images/menu/productions.svg" alt="Productions" class="w-[366.15px] h-[82.23px]"/>
            <img src="/src/images/menu/comedy.svg" alt="Comedy" class="w-[235.65px] h-[61.81px]"/>
            <img src="/src/images/menu/street.svg" alt="Street" class="w-[205.75px] h-[62.54px]"/>
            <img src="/src/images/menu/applied_theatre.svg" alt="Applied Theatre" class="w-[458.32px] h-[63.19px]"/>
            <img src="/src/images/menu/kathakali.svg" alt="Kathakali" class="w-[268.32px] h-[57.81px]"/>
            <img src="/src/images/menu/making.svg" alt="Making" class="w-[228.15px] h-[67.63px]"/>
            <img src="/src/images/menu/teaching.svg" alt="Teaching" class="w-[285.6px] h-[57.16px]"/>
            <img src="/src/images/menu/digital_creations.svg" alt="Digital Creations" class="w-[487.67px] h-[71.56px]"/>
            <img src="/src/images/menu/events.svg" alt="Events" class="w-[172.61px] h-[53.66px]"/>
            <img src="/src/images/menu/about.svg" alt="About" class="w-[188.73px] h-[49.06px] col-span-3 m-auto"/>
        </section>
    </div>
</Layout>
