---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.svelte";
import Menu from "../components/Menu.svelte";
---

<Layout title="Menu">
  <div class="">
    <Navbar menuPage={true} client:load />
    <Menu client:load />    
  </div>
</Layout>
