---
import Carousel from "../components/Carousel.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="carouselTest">
    
    <div style={"height:100px"}></div>
    <Carousel client:load numberOfSlides={10}/>
    <div style={"height:100px"}></div>

</Layout>