---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style is:global>
      @font-face {
        font-family: "Agrandir Variable";
        src: url("/fonts/Agrandir-WideLight.otf") format("opentype");
        font-style: normal;
        font-display: swap;
      }
	  @font-face {
		font-family: 'Object Sans', sans-serif;
		src: url('/fonts/ObjectSans-Regular.otf') format('opentype');
		font-style: normal;
		font-display: swap;

	  }

      a {
        font-family: "Agrandir Variable";
      }

      p {
        font-family: 'Object Sans', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.75rem;
        line-height: 1.25rem;
      }
      h4 {
        font-family: "Agrandir Variable";
        font-weight: 336;
        font-style: normal;
        font-size: 1rem;
        line-height: 1.3rem;
      }

      h3 {
        font-family: "Agrandir Variable";
        font-weight: 336;
        font-style: normal;
        font-size: 2.1875rem;
        line-height: 2.84375rem
      }

      button {
        font-family: "Agrandir Variable";
        font-size: 10px;
        line-height: 0px;
        border: 2px solid white;
        border-radius: 23px;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 12px;
        padding-bottom: 11px;
        cursor: pointer;
      }

      @media (min-width: 1024px) {
        p {
          font-size: 1rem;
          line-height: 1.5625rem;
        }
      }

    </style>
  </body>
</html>
