---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<style is:global>
			@font-face {
				font-family: "Agrandir Variable";
				src: url("/fonts/Agrandir-WideLight.otf") format("opentype");
				font-style: normal;
				font-display: swap;
			}

			p {
				font-family: "Agrandir Variable";
				font-weight: 336;
				font-style: normal;
				font-size: 1rem;
				line-height: 1.3rem;
			}

			button {
				font-family: "Agrandir Variable";
				font-size: 10px;
				line-height: 0px;
				border: 2px solid white;
				border-radius: 23px;
				color: #ffffff;
				display: flex;
				justify-content: center;
				align-items: center;
				padding-left: 10px;
				padding-right: 10px;
				padding-top: 11px;
				padding-bottom: 11px;
				cursor: pointer;
			}
		</style>
	</body>
</html>
